/* font: source code pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

/* color variables */
:root {
  --yellow: #fdc429;
  --light-lavender: #ded9e6;
  --medium-lavender: #dbd3f1;
  --dark-lavender: #a9a8d0;
  --black: #0b0b0b;
}

html {
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  color: var(--black);
}

/* box-sizing always */
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* general styling */
body {
  overflow-x: hidden;
  font-size: 1.6vh;
  overflow-y: hidden;
  position: relative;
}

/* notice standard padding */
.page {
  height: 100vh;
  width: 100vw;
  padding: 4vh 10vw;  
}

h1 {
  font-size: 4vh;
  margin-bottom: 3vh;
  text-decoration: underline;
  font-weight: 400;
}

/* responsive design for tablet size */
@media (max-aspect-ratio: 1.2) {
  .page {
    padding: 4vh 5vw;
    /* reduce padding by half */
  }
}


/* NAV */
.arrows {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    z-index: 2;
}

.arrows div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: white;
}

.arrows div:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.arrows div:active {
    transform: scale(1.1);
}

#down {
    margin-top: 2vh;
}

/* -------------------------------- */
/* HOME */
.home {
  background-image: url('./assets/background_yellow.png');
  background-size: 100vw 100vh;
  padding: 8vh 10vw;  
}

/* header */
.home h1 {
  text-decoration: none;
  font-size: 5vh;
  letter-spacing: 0.2vw;
}

.home h1 span {
  font-size: 1.8vh;
}

/* flex container for main & nav-bar */
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 9vh); /* where 8vh = h1 height (=6vh+3vh) */
}

.home-pic img {
  height: 60vh;
  width: auto;
}

.home-nav-bar ul {
  list-style-type: none;
}

.home-nav-bar ul li {
  font-size: 4vh;
  text-decoration: underline;
  line-height: 6vh;
}

/* list interactivty */
.home-nav-bar li {
  cursor: pointer;
}
.home-nav-bar li:hover {
  text-decoration: none;
}
.home-nav-bar li:active {
  transform: scale(0.99);
}

/* RESPONSIVE DESIGN HOME */
/* add horizontal padding */
@media (min-aspect-ratio: 1.6) {
  .home-container {
    padding: 0 4vw;
    /* with respect to page content box (i.e. vertical border beneath h1) */
  }
}

/* reduce horizontal padding */
@media (max-aspect-ratio: 1.6) {
  .home-container {
    padding: 0;
  }
}

/* restructure layout for tablet */
@media (max-aspect-ratio: 1.2) {
  .home-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .home h1 {
    text-align: center;
  }
  .home-nav-bar ul {
    columns: 2;
  }
}

/* ------------------------------------- */
/* ABOUT */
.about {
    background-image: url('./assets/background_almost_white.png');
    background-size: 100vw 100vh;
}

/* top part */
.about-main {
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 55%;
  font-size: 0.9vw; 
}

.about-text p {
  text-align: justify;
  margin-bottom: 1em;
}

.about-text p span:first-of-type {
  color: #da14ff;
}

.about-text p span:last-of-type {
  color: #33ff14;
}

.languages p {
  text-decoration: underline;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.languages ul {
  width: 60%;
  columns: 2;
  list-style-type: none;
}

.languages li {
  font-size: 0.8em;
  line-height: 2em;
}

.about-pic img {
  height: 60vh;
  width: auto;
  margin-top: -7vh;
}

.about-timeline {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-timeline .line {
    background-color: black;
    height: 0.5vh;
}

.about-timeline .top{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.about-timeline .top div {
    max-width: 15vw;
}

.about-timeline .top .vertical {
    height: 2vh;
    border-left: 0.5vh solid black;
    margin-top: 1vh;
}

.about-timeline .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flext-start;
}

.about-timeline .bottom div {
    max-width: 15vw;
}

.about-timeline .bottom .vertical {
    height: 2vh;
    border-left: 0.5vh solid black;
    margin-bottom: 1vh;
}

.about-timeline h4 {
    text-transform: uppercase;  
}

.about-timeline p {
    font-size: 1.2vh;
}

/* RESPONSIVE */
@media (max-aspect-ratio: 1.6){
  .about-text {
    font-size: 1vw;
  }
  .about-timeline p {
    font-size: 1vh;
}
}
@media (max-aspect-ratio: 1.2){
    .about-text {
        font-size: 1.3vh;
    }
}

/* ------------------------------------------ */
/* ART DIRECTION */
.art-direction {
    background-image: url('./assets/background_light.png');
    background-size: 100vw 100vh;
    position: relative;
}

.art-direction-container {
  padding: 0 3vw 5vh;
}

.art-direction-container img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10vw;
  margin-top: -3vh;
}

#butts {
  width: 45vh;
}

#shower {
  width: 35vh;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20vw;
}

#monty {
  width: 35vh;
}

#sports {
  width: 36vh;
}

/* BOARDS */
/* for darkening background */
.art-direction .dark.active {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: 1s ease;
}

/* based on 16:9 board ratios 80vw:45vw  */
.board {
    width: 80vw;
    height: 45vw;
    position: absolute;
    left: 10vw;
    top: calc((100vh - 45vw)/2);
    opacity: 0;
    transition: 1s ease;
}

.board.active {
    opacity: 1;
    z-index: 3;
    transition: 1s ease;
}

/* this shit was giving me sooooo much trouble:
    NB: in order for the button (<img> el) to be clickable,
    has to be above stupid dark div! */
.button {
    z-index: 1;
}

#exit {
    position: absolute;
    top: calc((100vh - 45vw)/2);
    right: 10vw;
    transform: translate(50%, -50%);
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit p {
    font-size: 1vw;
}

#exit:hover {
    background-color: black;
    color: white;
}

#exit.active {
    opacity: 1;
    z-index: 6;
    transition: 1s ease;
}

/* description boxes */
.description {
    opacity: 0;
    position: absolute;
    bottom: calc((100vh - 45vw)/2);
    right: 10vw;
    width: 30vw;
    background-color: white;
    padding: 0.7vw;
    font-size: 0.75vw;
    color: black;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.description.active {
    opacity: 1;
    z-index: 5;
    transition: 1s ease;
}

/* Video */
#video {
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: calc((100vh - 45vw)/2);
    left: 10vw;
    display: none;
}

#video.active {
    z-index: 5;
    transition: opacity 1s ease;
    display: block;
}

#show-video {
    position: absolute;
    bottom: calc((100vh - 45vw)/2);
    right: 10vw;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    background-color: white;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-video:hover {
    background-color: black;
    color: white;
}

#show-video p {
    font-size: 2vw;
}

#show-video.active {
    opacity: 1;
    z-index: 4;
    transition: 1s ease;
}

/* description button */
#show-description {
    position: absolute;
    bottom: calc((100vh - 45vw)/2);
    right: 10vw;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    background-color: white;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-description p {
    font-size: 1.5vw;
}

#show-description.active {
    opacity: 1;
    z-index: 4;
    transition: 1s ease;
}

#show-description:hover {
    background-color: black;
    color: white;
}


/* board credits */
.credit {
    opacity: 0;
    position: absolute;
    left: 10vw;
    bottom: calc((100vh - 45vw)/2); 
    background-color: white;
    color: black;
    border-top-right-radius: 5vw;
    padding: 0.3vw 1vw 0.3vw 0.5vw;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.credit.active {
    opacity: 1;
    transition: 1s ease;
    z-index: 4;
}

/* RESPONSIVE */
@media (max-aspect-ratio: 1.2){
    #butts {
        width: 35vh;
    }
    #shower {
        width: 30vh;
    }
    #monty {
        width: 30vh;
    }
    #sports {
        width: 30vh;
    }
    .row1 {
        margin-top: 7vh;
    }
    .row2 {
        margin-top: 8vh;
    }
}

/* OTHER DIRECTIONS */
.other-directions {
    background-image: url('./assets/background_dark.png');
    background-size: 100vw 100vh;
    position: relative;
}

.other-directions p {
  font-size: 1.8vh;
  line-height: 3.6vh;
}

.other-directions .o-button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.other-directions div p {
    font-size: 2.3vh;
}

.other-directions .o-button img {
    width: 35vh;
    cursor: pointer;
    z-index: 1;
}

.other-directions .o-button img:hover {
    transform: scale(1.05);
}

.o-button.good-grief {
    margin-top: 5vh;
}

.o-button.tinder {
    margin-top: -10vh;
    justify-content: flex-end;
}

/* Boards */
.other-directions .o-dark.active {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: 1s ease;
}

/* based on 16:9 board ratios 80vw:45vw  */
.o-board {
    width: 80vw;
    height: 45vw;
    position: absolute;
    left: 10vw;
    top: calc((100vh - 45vw)/2);
    opacity: 0; 
    transition: 1s ease;
}

.o-board.active {
    opacity: 1;
    z-index: 3;
    transition: 1s ease;
}

/* this shit was giving me sooooo much trouble:
    NB: in order for the button (<img> el) to be clickable,
    has to be above stupid dark div! */
.o-button {
    z-index: 1;
}

#exit2 {
    position: absolute;
    top: calc((100vh - 45vw)/2);
    right: 10vw;
    transform: translate(50%, -50%);
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit2 p {
    font-size: 1vw;
}

#exit2.active {
    opacity: 1;
    z-index: 5;
    transition: 1s ease;
}

/* ------------------------------------- */
/* CONTACT */
.contact {
    background-image: url('./assets/background_yellow.png');
    background-size: 100vw 100vh;
  position: relative; /* for absolute positioning author bottom */
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 25vh); /* = page content box - (h1 height + author div) */
}

.contact-pic img {
  height: 60vh;
  width: auto;
}

.contact-text {
  width: 35vw;
}

.contact-text p {
  line-height: 7vh;
  font-size: 2vh;
}

.contact-text p:nth-of-type(1) {
  text-align: left;
}

.contact-text p:nth-of-type(2) {
  text-align: center;
}

.contact-text p:nth-of-type(3) {
  text-align: right;
}

.contact-text h1 {
  margin: 3vh 0;
  text-decoration: none;
  margin-left: 5vw;
}

#contact-info p {
  text-align: start;
  line-height: 5vh;
  margin-left: 5vw;
}

.author {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.author .left {
  font-size: 1.2vh;
  width: 35vw;
  text-align: justify;
}

.author .left h2 {
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
}

.author .right {
  font-size: 1.8vh;
}

/* responsive design contact */
@media (min-aspect-ratio: 1.6){
  .contact-pic {
    padding-left: 2vw;
  }
  .contact-pic img {
    height: 65vh;
    width: auto;
  }
}


