@media (max-aspect-ratio: 1){
    body {
        overflow-y: auto;
    }

    .page {
        padding: 5vh 5vw;
    }

    .arrows {
        display: none;
    }

    /* HOME */
    .home h1 {
        font-size: 4vh;
    }

    .home h1 span {
        display: none;
    }

    .home-pic img {
        width: 40vh;
        height: auto;
    }

    .home-pic {
        display: flex;
        justify-content: center;
        margin-top: 7vh;
    }
      
    .home-container {
        display: block;
    }

    .home-nav-bar ul {
        margin-top: 5vh;
        margin-left: 10vw;
        columns: 1;
    }
      
    .home-nav-bar ul li {
        font-size: 3.5vh;
        text-decoration: underline;
        line-height: 7vh;
    }

    /* ABOUT */
    .about {
        height: 250vh;
        background-size: 100vw 250vh;
    }

    .about-main {
        display: block;
    }

    .about-text {
        width: 90vw;
        font-size: 1.8vh;
    }

    .languages ul {
        width: 100%;
    }

    .about-pic {
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }

    .about-pic img {
        width: 40vh;
        height: auto;
    }

    /* ART D */
    /* OTHER D */
    /* CONTACT */
}